
body {
	width: 100%;
	color: #333333;
	font-size: 20px;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

img {
	border: 0px;
	display: flex;
}

input[type="submit"] {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA));
}

.clear {
	clear: both;
}

/*====================================================================================================*/
/* メイン                                                                                             */
/*====================================================================================================*/

div.main {
	background-image: url(head.png);
	background-repeat: repeat;
}

/*====================================================================================================*/
/* リンクバー                                                                                         */
/*====================================================================================================*/

div.link_bar {
	background-color: #333333;
	padding: 5px 0px;
	display: flex;
	align-items: center;
}

div.link_bar>div.link {
	font-size: 0.8em;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#444));
	border-radius: 10px;
	margin-left: 5px;
	padding: 0px 5px;
	display: flex;
	align-items: center;
}

div.link_bar>div.link a {
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 5px;
}

div.link_bar>div.link img.icon {
	width: 20px;
	margin-right: 10px;
}

div.link_bar>div.link img.button {
	width: 20px;
	margin-left: 10px;
}

/*====================================================================================================*/
/* サーチ                                                                                             */
/*====================================================================================================*/

div.main>div.search {
	display: flex;
	flex-direction: column;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
}

div.main>div.search>div.form {
	padding: 5px 10px;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#444));
}

div.main>div.search>div.space {
	flex-basis: 10px;
}

/*====================================================================================================*/
/* タブ                                                                                               */
/*====================================================================================================*/

div.tab_bar {
	display: flex;
	margin-top: 10px;
}

div.tab_bar>div.tab {
	display: flex;
	color: #000000;
	font-weight: bold;
	text-align: center;
	align-items: center;
	font-size: 0.8em;
	background-color: #FFFFFF;
	padding: 5px 10px;
	margin-left: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div.tab_bar>div.tab_action {
	display: flex;
	color: #000000;
	font-weight: bold;
	text-align: center;
	align-items: center;
	font-size: 0.8em;
	background-color: #FFFFFF;
	padding: 5px 10px;
	margin-left: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: solid 5px #333333;
}

div.tab_bar>div.tab_action a{
	display: flex;
	color: #000000;
	font-weight: bold;
	text-align: center;
	align-items: center;
	text-decoration: none;
}

div.tab_bar>div.tab_action a:hover{
	color: #00bfff;
}

div.tab_bar>div.tab span {
	margin: 0px 5px;
}

/*====================================================================================================*/
/* ウェブページ：Ｎｅｗｓ                                                                             */
/*====================================================================================================*/

div.webpage {
	border: 1px #999999 solid;
	margin-bottom: 10px;
}

div.rss {
	display: flex;
	margin: 10px;
}

div.rss>div.container {
	width: 100%;
	border: solid 5px;
	border-color: #333333;
}

div.rss>div.container img{
	width: 50%;
	margin-top: 10px;
	padding: 20px;
}

div.rss>div.container a{
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
}

div.rss>div.container a:hover{
	color: #00bfff;
}

div.rss>div.container p{
	font-size: 20px;
}

div.rss>div.container h1:hover{
	color: #00bfff;
}

div.rss>div.container>div.con_link {
	width: 100%;
	height: auto;
	background-color: #333333;
	color: #FFFFFF;
}

div.rss>div.button button{
	text-align: right;
}

/*====================================================================================================*/
/* ウェブページ：Ｙｏｕｔｕｂｅ                                                                       */
/*====================================================================================================*/

div.rss>div.container_youtube {
	width: 100%;
	border: solid 5px;
	border-color: #333333;
	list-style-type: none
}

div.rss>div.container_youtube p{
	font-size: 20px;
	color: #FFFFFF;
}

div.rss>div.container_youtube a{
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
}

div.rss>div.container_youtube a:hover{
	color: #00bfff;
}

div.you_link {
	width: 100%;
	height: auto;
	background-color: #333333;
}

div.image_flex {
	margin-top: 100px;
	margin-left: 100px;
}
