body {
	width: 100%;
	color: #333333;
	font-size: 20px;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

img {
	border: 0px;
	display: flex;
}

input[type="submit"] {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAA));
}

.clear {
	clear: both;
}

/*====================================================================================================*/
/* メイン                                                                                             */
/*====================================================================================================*/

div.main {
	background-image: url(head.png);
	background-repeat: repeat;
}

/*====================================================================================================*/
/* リンクバー                                                                                         */
/*====================================================================================================*/

div.link_bar {
	background-color: #333333;
	padding: 5px 0px;
	display: flex;
	align-items: center;
}

div.link_bar>div.link {
	font-size: 0.8em;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#444));
	border-radius: 10px;
	margin-left: 5px;
	padding: 0px 5px;
	display: flex;
	align-items: center;
}

div.link_bar>div.link a {
	color: #FFFFFF;
	text-decoration: none;
}

div.link_bar>div.link img.icon {
	width: 20px;
	margin-right: 10px;
}

div.link_bar>div.link img.button {
	width: 20px;
	margin-left: 10px;
}

/*====================================================================================================*/
/* サーチ                                                                                             */
/*====================================================================================================*/

div.main>div.search {
	display: flex;
	flex-direction: column;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
}

div.main>div.search>div.form {
	padding: 5px 10px;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#444));
}

div.main>div.search>div.space {
	flex-basis: 10px;
}

/*====================================================================================================*/
/* タブ                                                                                               */
/*====================================================================================================*/

div.tab_bar {
	display: flex;
	margin-top: 10px;
}

div.tab_bar>div.tab {
	display: flex;
	color: #000000;
	text-align: center;
	align-items: center;
	font-size: 0.8em;
	background-color: #FFFFFF;
	padding: 5px 10px;
	margin-left: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

div.tab_bar>div.tab span {
	margin: 0px 5px;
}

/*====================================================================================================*/
/* ウェブページ                                                                                       */
/*====================================================================================================*/

div.webpage {
	border: 1px #999999 solid;
	margin-bottom: 10px;
}
